.App {
  text-align: center;
}

.header_section{
	background:#e87646;
	display:block;
	text-align:center;
	padding:25px;
}
.Sidebar{
	background:#40de82;
	display:block;
	text-align:center;
	position:absolute;
	padding:40px;
	width:20%;
	height:50%;
	margin-right:75%;
}
.Content{
	margin-left:25%;
	background:#5cb6f7;
	position:absolute;
	width:80%;
	height:70%;
	text-align:center;
}
.footer_section{
	background:#e8fa5c;
	text-align:center;
	padding:25px;
	bottom:0;
	position:absolute;
	left:0;
	right:0;
}
