.App {
  text-align: center;
}
.sidebar_1{
	background:#bdc7c0;
	display:block;
	padding:15px;
}
.sidebar_2{
	background:#bdc7c0;
	display:block;
	padding:15px;
}
.sidebar_3{
	background:#bdc7c0;
	display:block;
	padding:15px;
}
.sidebar_4{
	background:#bdc7c0;
	display:block;
	padding:15px;
}
.header_section{
	background:#e87646;
	display:block;
	text-align:center;
	padding:25px;
}

.Sidebar{
	background:#40de82;
	text-align:center;
	position:absolute;
	padding:40px;
	width:20%;
	height:70%;
	margin-right:75%;
}
.Content{
	margin-left:25%;
	background:#5cb6f7;
	position:absolute;
	width:75%;
	height:80%;
	text-align:center;
}
.footer_section{
	background:#e8fa5c;
	text-align:center;
	padding:25px;
	bottom:0;
	position:absolute;
	left:0;
	right:0;
}
